In [ ]:
def get_emotion(input):
    df = {'Word': ['berantas','jahat','kejahatan','teroris','leceh','bunuh','gugur','serang','kecam','tindak','sasar','perintah','langgar','baik',
                   'bumihangus','bakar','hilang','berjuang','lawan','rusak','tangkap','tumpas','curiga','berantas','konflik',
                   'aman','nyaman','bela','tembak','teror','keji','selidik','sejahtera','resah','ancam','demo','hancur','ribut','bahaya','ofensif',
                   'bubar','tewas','korban','pulih','hambat','keamanan','jamin','benar','brutal','damai','iri','biadab','lawan','jenguk','luka','evaluasi',
                   'pelanggaran','dukung','bangsat','separatis','tobat','aksi','bantai','benci','bangun','maju','sidik','lapor','caci maki','fitnah','emosi',
                   'kemarahan','kalah','trauma','tempur','tega','bantai','desak','tuding','hoax','setuju','buruk','kejam','ganas','bacot','lonte','hoaks',
                   'serbu','goblok','ga becus','buang','setan','rusuh','stop','diskriminasi','kapitalisme','kolonialisme','militerisme','waspada','cegah',
                   'tolak','gugat','cerdas','waras','sengsara','ricuh','hormat','tragedi','negoisasi','sedih','makar','tolol','kritik','dekil','buluk',
                   'hajar','menderita','kacau','provokasi','takut','cinta','jaya','bungkam','jaga','solid','bom'], 
          'Emotion': ['anger','anger','anger','fear','anger','anger','sad','anger','anger','anger','anger','anger','anger','happy','anger','anger','sad',
                      'anger','anger','anger','anger','anger','surprise','anger','anger','happy','happy','happy','anger','anger','anger','surprise','happy',
                      'fear','anger','anger','anger','anger','anger','anger','anger','sad','sad','happy','sad','anger','happy','happy','anger','happy',
                      'surprise','anger','anger','happy','sad','anger','anger','happy','anger','anger','happy','anger','anger','anger','happy','happy',
                      'surprise','surprise','anger','anger','anger','anger','sad','sad','anger','sad','anger','anger','anger','surprise','happy','anger',
                      'anger','anger','anger','anger','surprise','anger','anger','anger','anger','anger','anger','fear','fear','fear','fear','fear','fear',
                      'fear','fear','fear','happy','happy','sad','anger','happy','sad','happy','sad','anger','anger','anger','anger','anger','anger','sad',
                      'anger','anger','fear','happy','happy','fear','fear','happy','anger']}
    text = data['CleanTweet']
    emotion_values = []
    emotions = {"happy": 0, "angry": 0, "surprise": 0, "sad": 0, "fear": 0}
    y = 0
    try:
        for i in text:
            try:
                a = df['Word'].index(i)
                if a:
                    emotions[df['Emotion'][a]] += 1
            except:
                pass
        if sum(emotions.values()) is 0:
            return emotions
        for i in emotions:
            emotion_values.append(round((emotions[i] / sum(emotions.values())), 2))
        for j in emotions:
            emotions[j] = emotion_values[y]
            y += 1
        return emotions
    except:
        pass

In [ ]:
import pandas as pd
data = pd.read_csv('sentimen_kkbpapua_0.csv')
data.head()

   Unnamed: 0  ... hasil_analisis
0           0  ...              0
1           1  ...              0
2           2  ...              0
3           3  ...              0
4           4  ...              0

[5 rows x 3 columns]

In [ ]:
data.drop(['Unnamed: 0', 'hasil_analisis'], axis=1, inplace=True)
data

                                            CleanTweet
0    b fadli zon peanyakan densus tugas berantas kk...
1    bfadli zon peanyakan densus tugas berantas kkb...
2    b densus tugas utk hadap kkb papua contoh bhw ...
3    b densus tugas utk hadap kkb papua contoh bhw ...
4    b densus tugas utk hadap kkb papua contoh bhw ...
..                                                 ...
674  b opm kkb cap teroris berai densus cepat opera...
675  bketika opm kkb cap teroris berai densus cepat...
676  bmuhyiddin mrk yg pnh msh gabung dg kkb sesal ...
677  bjadi nakes yg bantai papua teroris kkb gimana...
678  b tunggu kkb papua masuk islam tumpas xfxfxxxf...

[679 rows x 1 columns]

In [ ]:
get_emotion(data['CleanTweet'][678])

{'angry': 0, 'fear': 0, 'happy': 0, 'sad': 0, 'surprise': 0}

In [ ]:
get_emotion('berantas')

{'angry': 0, 'fear': 0, 'happy': 0, 'sad': 0, 'surprise': 0}

In [ ]:
get_emotion("KKB and Separatists are Sources of Conflict for the Papuan People")

{'angry': 0, 'fear': 0, 'happy': 0, 'sad': 0, 'surprise': 0}